.git
.git/**
.env
.env.*
web/GoogleOAuth.env
.dart_tool
.flutter-plugins
.flutter-plugins-dependencies
.idea
.vscode
.worktrees
.superpowers
build
coverage
screenlog.*
**/.DS_Store
**/build
**/.dart_tool
